[type=button], button, .button {
    /* needed for a.button (and others) */
    display: inline-block;
    text-decoration: none;
    @include unselectable;

    /* never use focus border */
    outline: none;

    /* normalise padding */
    padding: 1em;

    /* accent colors */
    background: $accent;
    color: $accent-text;

    /* alignment */
    text-align: center;
    vertical-align: bottom; /* weird buggy thing */

    /* FORCE SAME SIZE AS TEXTBOXES */
    border: $accent 3px solid;

    /* mouse hover */
    &:hover {
        background: $accent-light;
        border-color: $accent-light;
    }

    /* mouse down, touch */
    &:active {
        background: $accent-dark;
        border-color: $accent-dark;
    }
}
