/* media queries */
$media-slim:  "only screen and (max-device-width:  480px)";
$media-short: "only screen and (max-device-height: 720px) and (orientation: landscape)";

$media-fat:   "only screen and (min-width: 1200px)";

* {
    font-family: "Source Sans Pro";
    box-sizing: border-box;
}

html, body {
    margin: 0px;
    padding: 0px;
}

body {
    /* margins */
    position: absolute;
    top: 2em;
    left: 2em;
    right: 2em;
    bottom: 2em;
}

/* disable selection */
@mixin unselectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

/* vertically align element */
@mixin vertical-center {
    /* to vertically align an element we must
     *   1) align the top with the middle of the container
     *   2) use an offset of negative half (to align the middle with the middle)
     */

    /* 1) align top with middle */
    top: 50%;

    /* 2) CSS 3 */
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);

    /* 2) Internet Explorer 8 and below */
    filter:progid:DXImageTransform.Microsoft.Matrix(Dy=-2);
}

/* colors! */
$accent:       #ee2020;
$accent-light: #ff4040;
$accent-dark:  #dd0000;
$accent-text:  #eeeeee;
