input[type=text], input[type=search] {
    /* remove browser styles */
    -webkit-appearance: none;
       -moz-appearance: none;
        -ms-appearance: none;
         -o-appearance: none;
            appearance: none;
    -webkit-border-radius: 0px;
       -moz-border-radius: 0px;
        -ms-border-radius: 0px;
         -o-border-radius: 0px;
            border-radius: 0px;
    outline: none;

    /* styling */
    border: #dddddd 2px solid;
    background: #ffffff;

    /* sizing */
    font-size: 1.5em;
    padding: 0.5em; /* we need to compensate for 1.5em font size */
}

::-webkit-search-cancel-button {
    display: none;
}
