#main {
    bottom: 0px;
}

#userInput, #topics input {
    width: 100%;
}

#topics {
    position: absolute;

    /* bounding box */
    top: 0;
    margin-bottom: 1em;

    /* styling */
    text-align: center;

    /* scrolling */
    overflow-y: auto;

    #topics-content {
        /* scrolling */
        max-height: 100%;
        width: 100%;

        /* positioning */
        position: absolute;
        bottom: 0;

        input {
            margin-top: 0.5em;
        }
    }

}

#trends .button {
    &.hidden {
        /* should only have height, no width */

        border-left: 0px;
        border-right: 0px;

        padding-left: 0px;
        padding-right: 0px;

        margin-left: 0px;
        margin-right: 0px;

        width: 0px;
    }
}

#rotate {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background: #2196f3;
    color: #ffffff;

    display: none;
    z-topics: 9999;

    @media #{$media-short} {
        display: block;
    }
}
