<% var messages = ["facepalm", "damn!", "wow."]; %>

<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="focus">
            <h1><%= messages[Math.floor(Math.random() * messages.length)] %></h1>
            <a class="button" href="/">Home</a>
        </div>
    </body>
</html>
