<!DOCTYPE html>
<html>
    <head>
        <% include header.ejs %>
        <script src="/script/index.js"></script>
    </head>
    <body>
        <div id="nouns" class="focus">
            <div id="nouns-content"></div>
        </div>
        <div id="focus">
            <noscript><h1>What? Why no JavaScript!</h1></noscript>
            <input type="text" id="userInput" placeholder="Enter a noun" />
            <div id="trends"><a class="button" style="visibility: hidden"></a></div>
        </div>
    </body>
</html>
