<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/css/style.css" />
    </head>
    <body>
        <div id="focus">
            <input type="search" id="search" />
            <a class="button">Test</a>
        </div>
    </body>
</html>
