<!DOCTYPE html>
<html>
    <head>
        <% include header.ejs %>
    </head>
    <body>
        <div class="focus middle">
            <h1>If Obama wrote a speech about...</h1>
            <a href="/make" class="button">Make a speech</a>
        </div>
    </body>
</html>
