<!DOCTYPE html>
<html>
    <head>
        <% include header.ejs %>
    </head>
    <body>
        <div class="focus middle">
            <h1>Today will be awesome</h1>
            <h2>Someone made a speech about it</h2>
            <a href="/topics" class="button">I wanna make one too</a>
        </div>
    </body>
</html>
