<!DOCTYPE html>
<html>
    <head>
        <% include header.ejs %>
    </head>
    <body>
        <div class="focus middle">
            <h1>If Obama wrote a speech about...</h1>
            <h2>Today will be awesome</h2>
            <h3>Someone made a speech about it</h3>
            <a href="/make" class="button">I wanna make one too</a>
        </div>
    </body>
</html>
