<!DOCTYPE html>
<html>
    <head>
        <% include header.ejs %>
        <script src="/script/index.js"></script>
    </head>
    <body>
        <div id="nouns" class="focus">
            <div id="nouns-content"></div>
        </div>
        <div id="focus">
            <noscript><h1>What? Why no JavaScript!</h1></noscript>
            <input type="text" id="userInput" placeholder="Enter a noun" />
            <div id="trends">
                <a class="button" style="padding-left: 0px; padding-right: 0px; margin-left: 0px; margin-right: 0px; visibility: hidden; text-indent: -100%">&nbsp;</a>
            </div>
        </div>
    </body>
</html>
