<!DOCTYPE html>
<html>
    <head>
        <% include header.ejs %>
    </head>
    <body>
        <div class="focus">
            <% for (var i = 0; i < paragraphs.length; i++) { %>
            <p><%= paragraphs[i] %></p>
            <% } %>
            <em><%= speaker %></em>
        </div>
    </body>
</html>
